@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
html{
    overflow-x: hidden;
}

body::-webkit-scrollbar-thumb{
    background-color: rgb(33, 33, 33);
    border-radius: 8rem;
}


body::-webkit-scrollbar{
    background-color: rgb(0, 0, 0);
    width: 8px;
}

header {
    width: 100vw;
    height: 92vh;
    background-image: url(../img/peaky.jpg);
    background-size:cover;
    background-position: center;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 40px;
}

header .left-menu {
    display: flex;
    align-items: center;
}

.left-menu .menu-mobile {
    display: none;
}

.nav-list {
    display: flex;
    align-items: center;
}

header .left-menu a {
    transition: all .5s;
}

header .left-menu a:hover {
    color: red;

}

header .right-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

nav {
    display: flex;
    align-items: center;
    background-color: transparent;
    
}

nav a {
    padding-inline: 10px;
    font-weight: bolder;
    font-size: 0.9rem;
    text-decoration: none;
    color: white;
}

nav img {
    width: 8rem;
}

i {
    color: white;
}

#drop {
    background: transparent;
    outline: none;
    color: white;
    padding: 0;
}


.sidebar {
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: -100vw;
    transition: all 1s;
    z-index: 99;
    background: #141414;
}

.show-menu .sidebar {
    left: 0vw;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 30px;
}

.sidebar a p {
    color: rgb(255, 0, 0);
    width: 100%;
    transition: all .3s;
    font-size: 1.6rem;
}

.sidebar a p:hover {
    border-bottom: 2px solid rgb(255, 0, 0);
    color: white;
}

.content-header {
    width: 100%;
    height: 100%;
    position: relative;
}



.content-wrapper {
    position: absolute;
    top: 250px;
    left: 50px;
}

.content-wrapper img {
    width: 30rem;
}

.content-wrapper .btn-play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11rem;
    height: 2.5rem;
    border: none;
    border-radius: 6px;
}

.content-wrapper .btn-play:hover {
    background: rgb(208, 202, 202);
    opacity: 0.8;
}

.content-wrapper .btn-play i {
    color: rgb(0, 0, 0);
}

.content-wrapper .btn-play i a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left: 5px;
}

.content-wrapper .line {
    display: flex;
    gap: 15px;
}

.btn-infos {
    background-color: rgba(109, 109, 110, 0.7);
    width: 11rem;
    height: 2.5rem;
    border: none;
    border-radius: 6px;
}

.btn-infos:hover {
    background: rgb(59, 59, 59);
    opacity: 0.8;
}

.btn-infos i a {
    text-decoration: none;
    color: white;
    margin-left: 5px;
}

.carrousel-movies {
    width: 100vw;
    background: #141414;
}

.item .box-movie {
    height: 400px;
}

footer{
    width: 100vw;
    height: 230px;
    background: #1d1d1d;
}

footer .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: wheat;
    padding: 10px;
}

footer .social-media{
    display: flex;
    gap: 10px;
}


footer .social-media i{
    font-size: 25px;
    padding: 2px;
    transition: all .5s;
}

footer .social-media i:hover{
    color: red;
    transform: scale(1.1);
}

.social-media .circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 6rem;
}

footer img{
    width: 130px;
}

aside{
    background: rgb(0, 0, 0);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: wheat; 
}